
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maindiv{
    margin-top:40px;
    margin-bottom:40px;
    width: 400px;
    
    padding: 30px;
    border-radius: 30px;
    background-color: aliceblue;
}
img{
    width: 100%;
    border-radius: 30px;
}
.preparationtime{
    background-color: rgb(255, 219, 246);
    padding-left: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 8px;
}
h2{
    color: rgb(104, 23, 179);
}
table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
}




